/*
#img_border {
	padding: 5px 5px 5px 5px;
	border: 1px solid #dddddd;
}

#img_border_height {
	padding: 5px 5px 5px 5px;
	border: 1px solid #dddddd;
	width: auto;
    height: 370px;
    max-height: 370px;
}

#homephotos4_2 {
	display: block;
	margin: auto;
}

.container {
	display: block;
	margin: auto;
}
*/

h5#carousel_caption_custom {
	display:inline;
	color: #ffffff;
	top: 10px;
	font-size: 45px;
	/*-webkit-text-stroke: 2px black; */
	/*font-weight: bold; */
	/* background-color: rgba(33, 150, 243, 1); */
	background-color: rgba(34, 34, 34, 1);
	border-radius: 5px;
	padding: 5px 5px 5px 5px
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

button#button_text {
	font-size: 15px;
}

h2.accordion-header{
	margin: 0px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232396f3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232396f3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
