{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<html>
<div class="jumbotron text-center">
  <div class="container">
<!--     <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a> -->
    <h1>VIEW</h1>
    <p>Blind Spot Calculator for Large Trucks</p>
  </div>
</div>
<div class="container">

	<form>
	  <div class="form-group">
	    <label for="vgvwr">Look up by weight class:</label>
	    <input type="text" class="form-control" id="vgvwr" placeholder="Eg: 5">
	    <small id="descript" class="form-text text-muted">Please enter weight class number, not lbs.</small>
	  </div>
	  <!-- <button class="btn btn-primary" onclick="getByFullVIN()">Submit</button> -->
	</form>
	<button class="btn btn-primary" onclick="getByVGVWR(5)">Class</button>
  <hr>
	<form>
	  <div class="form-group">
	    <label for="perc">Look up by percentage of visible volume:</label>
	    <input type="text" class="form-control" id="perc" placeholder="Eg: 60">
	    <small id="descript" class="form-text text-muted">Returns trucks which have an equal of greater percentage of visible volume.</small>
	  </div>
	  <!-- <button class="btn btn-primary" onclick="getByFullVIN()">Submit</button> -->
	</form>

	<button class="btn btn-primary" onclick="getByPerc()">Rating Limit</button>
  <hr>
	<form>
	  <div class="form-group">
	    <label for="fullvin">Look up by full VIN number:</label>
	    <input type="text" class="form-control" id="fullvin" placeholder="Eg: 1C3CCBBGXCN287756">
	    <small id="descript" class="form-text text-muted">This will only return anything if the vehicle with this VIN is already in the database.</small>
	  </div>
	  <!-- <button class="btn btn-primary" onclick="getByFullVIN()">Submit</button> -->
	</form>
	<button class="btn btn-primary" onclick="getByFullVIN()">Full VIN</button>
  <hr>

	<form>
	  <div class="form-group">
	    <label for="partialvin">Look up by partial VIN number:</label>
	    <input type="text" class="form-control" id="partialvin" placeholder="Eg: 1C3CCBBGXC">
	    <small id="descript" class="form-text text-muted">Please enter a partial vin with at least 10 digits, this will return any vehicle where the first 10 digits of the VIN match.</small>
	  </div>
	  <!-- <button class="btn btn-primary" onclick="getByPartialVIN()">Submit</button> -->
	</form>

	<button class="btn btn-primary" onclick="getByPartialVIN()">Partial VIN</button>
	  <hr>
	<div id=makedropdown>
		<select id=makedropdownselect>
		</select>
	</div>
	<br>
	<button class="btn btn-primary" onclick="getByVMake()">Get By Make</button>
	<hr>

	<table id="table" class="hidden">
	    <tr>
	        <th>FullVin</th>
	        <th>PartialVin</th>
	        <th>Make</th>
	        <th>Model</th>
	        <th>GVWR</th>
	        <th>Percentage Visible</th>
	    </tr>
	</table>


</div>
</html>

<script type="text/javascript">

// https://stackoverflow.com/questions/19901843/display-json-data-in-html-table
function displayTable(data){
	console.log("here", data);
	data = JSON.parse(data);

	if (data){
		console.log("indata");
		var len = data.length;
		var txt = "";
		if (len > 0) {
			for (var i = 0; i < len; i++){
				console.log("gen", data[i]);
				// console.log("f", data[i]["fields"]);
				if (data[i]["fields"].fullvin && data[i]["fields"].partialvin && data[i]["fields"].vmake && data[i]["fields"].vmodel && data[i]["fields"].vgvwr && data[i]["fields"].perc_vis){
					console.log("adding txt");
					txt += "<tr><td>" + data[i]["fields"].fullvin + "</td><td>" + data[i]["fields"].partialvin + "</td><td>" + data[i]["fields"].vmake + "</td><td>" + data[i]["fields"].vmodel + "</td><td>" + data[i]["fields"].vgvwr + "</td><td>" + data[i]["fields"].perc_vis + "</td></tr>";
				}
			}
			console.log(txt);
			if (txt != ""){
				console.log("in text");
				var table = document.getElementById("table");	
				table.append(txt).removeClass("hidden");
			}
		}
	}
}

function getByVGVWR(){
	var vgvwr = document.getElementById('vgvwr').value;
	let request = new XMLHttpRequest();
	let url = "https://findyourblindspots.herokuapp.com/api/v1/vgvwr/" + vgvwr + "/";

	request.onreadystatechange = function() {
	    let response = JSON.parse(this.responseText);

	    console.log(response['data']); //can loop through this for responses
	}

	request.open("GET", url);
	request.send();
}

function getByPerc(){
	var perc = document.getElementById('perc').value;
	let request = new XMLHttpRequest();
	let url = "https://findyourblindspots.herokuapp.com/api/v1/perc/" + perc + "/";

	request.onreadystatechange = function() {
	    let response = JSON.parse(this.responseText);

	    console.log(response['data']);
	}

	request.open("GET", url);
	request.send();
}

function getByFullVIN(){
	var fullvin = document.getElementById('fullvin').value;
	let request = new XMLHttpRequest();
	let url = "https://findyourblindspots.herokuapp.com/api/v1/fullvin/" + fullvin + "/";

	request.onreadystatechange = function() {
	    let response = JSON.parse(this.responseText);

	    console.log(response['data']); 
	}

	request.open("GET", url);
	request.send();
	return false;
}	

function getByPartialVIN(){
	var partialvin = document.getElementById('partialvin').value;
	let request = new XMLHttpRequest();
	let url = "https://findyourblindspots.herokuapp.com/api/v1/partialvin/" + partialvin + "/";

	request.onreadystatechange = function() {
	    let response = JSON.parse(this.responseText);

	    console.log(response['data']); 
	}

	request.open("GET", url);
	request.send();
	return false;
}	

function getMakes(){
	let request = new XMLHttpRequest();
	let url = "https://findyourblindspots.herokuapp.com/api/v1/getmakes/";
	done_once = false;

	request.onreadystatechange = function() {
	    let response = JSON.parse(this.responseText);
		var res_data = response['data'];
		console.log(res_data);
		var div = document.querySelector("#makedropdown");
		frag = document.createDocumentFragment();
		// select = document.createElement("select");
		select = document.getElementById("makedropdownselect");
		if (done_once == false){ // honestly don't know why this function is being called twice
			done_once = true;
			for (var i = 0; i < res_data.length; i++){
				if (i == 0) {
					select.options.add( new Option(res_data[i], res_data[i], true, true));
				} else {
					select.options.add( new Option(res_data[i], res_data[i]));
				}
				frag.appendChild(select);
				div.appendChild(frag);
			}
		}
	}

	request.open("GET", url);
	request.send();
}

getMakes();

function getByVMake(){
	var e = document.getElementById("makedropdownselect");
	var strUser = e.options[e.selectedIndex].value;
	console.log(strUser);

	let request = new XMLHttpRequest();
	let url = "https://findyourblindspots.herokuapp.com/api/v1/vmake/" + strUser + "/";

	request.onreadystatechange = function() {
	    let response = JSON.parse(this.responseText);

	    console.log(response['data']); 
	    var data = response['data'];
	    displayTable(data);
	}

	request.open("GET", url);
	request.send();
}	



</script>

{% endblock %}