{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<html>
<div class="jumbotron text-center">
  <div class="container">
<!--     <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a> -->
    <h1>VIEW</h1>
    <p>Blind Spot Calculator for Large Trucks</p>
  </div>
</div>
<div class="container">
	<button class="btn btn-primary" onclick="getByVGVWR(5)">Next</button>
</div>
</html>

<script type="text/javascript">

function getByVGVWR(vgvwr){
	let request = new XMLHttpRequest();
	let url = "https://enigmatic-oasis-34994.herokuapp.com/api/v1/vgvwr/" + vgvwr + "/";

	request.onreadystatechange = function() {
	  if (this.status == 200) {
	    // let response = JSON.parse(this.responseText);
	    let response = JSON.parse(this.responseText);
	    console.log(response);

	  }
	}

	request.open("GET", url);
	request.send();

	// getElements = function(response){
	//     console.log(response);
	//     var vmake = response["Results"]["0"]["Make"];
	//     var vmodel = response["Results"]["0"]["Model"];
	//     var vgvwr = response["Results"]["0"]["GVWR"];
	//     var partialvin = vin.substring(0,10);
	//     var vwc = vgvwr.substring(0,7);
	//     console.log(vmake, "*", vmodel, "*", vwc);
	//     let requestpost = new XMLHttpRequest();
	//     let urlpost = "https://enigmatic-oasis-34994.herokuapp.com/api/v1/vwc/" + vwc + "/";
	//     requestpost.open("POST", urlpost);
	//     requestpost.send();
	// }  
}
	

</script>

{% endblock %}