{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<html>
<div class="jumbotron text-center">
  <div class="container">
<!--     <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a> -->
    <h1>VIEW</h1>
    <p>Blind Spot Calculator for Large Trucks</p>
  </div>
</div>
<div class="container">
  <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr> -->
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What this is/Instructions</h3>
      <ul>
        <li>Todo: instructions here</li>
        <li> The image you upload will look warped, that's okay </li>
      </ul>
    </div>
  </div>
  <hr>
   <!-- row -->
<!--    <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div> -->
  <h3>
<div id="instructiontxt">Chose field of view image to upload</div></h3>
    <br>
<!-- <div id="steps" class="hidden">
  <div class="form-group">
  <label for="usr">Driver eye heigh above ground (inches):</label>
  <input type="text" class="form-control" id="h">
</div>
<div class="form-group">
  <label for="pwd">Radius from driver to measurement stick (inches):</label>
  <input type="text" class="form-control" id="r">
</div> -->


<div id="steps" class="hidden">
<div id="canvas">Click to draw<br/></div>
<div id="dataentry" class="hidden">
<form>
  <div class="form-group">
    <label for="h">Driver eye heigh above ground in inches:</label>
    <input type="text" class="form-control" id="dh" placeholder="Enter height eg: 63">
  </div>
  <div class="form-group">
    <label for="r">Radial distance from driver to measurement stick in inches:</label>
    <input type="text" class="form-control" id="rd" placeholder="Enter distance eg: 94">
    <small id="radiusdescript" class="form-text text-muted">This is not the hypotenuse, but the distance along the ground.</small>
  </div>
  <!-- <button class="btn btn-primary" onclick="submitForm()">Submit</button> -->
</form>
<hr>
</div>

<h3>
<div id="percentage">

</div>
</h3>

<div id="vinentry" class="hidden">
<form>
  <div class="form-group">
    <label for="vin">VIN number:</label>
    <input type="text" class="form-control" id="vvin" placeholder="Eg: 1C3CCBBGXCN287756">
<!--     <small id="radiusdescript" class="form-text text-muted">This is not the hypotenuse, but the distance along the ground.</small> -->
  </div>
  <!-- <button class="btn btn-primary" onclick="submitForm()">Submit</button> -->
</form>
</div>

<button class="btn btn-primary" onclick="clearPanel()">Clear</button>
<button class="btn btn-primary" onclick="nextPanel()">Next</button>
<hr>
</div>




 <input type="file" onchange="previewFile()"><br>
 <img src="" height="0" alt="">
</div>
</html>

<script type="text/javascript">
function clearPanel() {
    ctx.addBack(my_image);
}

function nextPanel() {
    ctx.addNext(my_image);
}

// function submitForm() {
//     createHeightMap();
//     calcGroundIntersection();
// }

var color_marks = [];
var curr_step = 1;
// var bottom_view = [];
var bottom_view_front = [];
var bottom_view_passenger = [];
var height_map = {};
var neg_90;
var zero;
var angle_map = {};
var driver_height; // will need to be user entered
var marks_dist; 
var HEIGHT_CUTOFF = 74; // 6'2" 95th percentile male US
var RADIUS_CUTOFF = 180; // 15 feet
var RIGHT_CUTOFF = -135;
var total_volume;
var blind_volume;

function c(img) {
    // Creates a new canvas element and appends it as a child
    // to the parent element, and returns the reference to
    // the newly created canvas element

    function createCanvas(parent, width, height) {
        var canvas = {};
        canvas.node = document.createElement("canvas");
        canvas.context = canvas.node.getContext("2d");
        canvas.node.width = width || 100;
        canvas.node.height = height || 100;

        parent.appendChild(canvas.node);

        return canvas;
    }

    function storeCoordinate(xVal, yVal, array) {
        array.push({x: xVal, y: yVal});
    }

    function storeOneCord(oVal, array){
        array.push(oVal);
    }

    function getAverage(array){
        var sum = 0;
        for( var i = 0; i < array.length; i++ ){
            sum += parseInt( array[i], 10 ); //don't forget to add the base
        }
        var avg = sum/array.length;
        avg = Math.round(avg);
        return avg;
    }

    function init(container, width, height, fillColor) {
        var canvas = createCanvas(container, width, height);
        var coords = [];
        ctx = canvas.context;

        // define a custom fillCircle method
        ctx.fillCircle = function(x, y, radius, fillColor) {
            this.fillStyle = fillColor;
            this.beginPath();
            this.moveTo(x, y);
            this.arc(x, y, radius, 0, Math.PI * 2, false);
            this.fill();
        };

        ctx.addBack = function (img){
          var image = new Image()
          image.onload = function () {
                coords = [];
            ctx.drawImage(image, 0, 0, 800, 400);
          }
          image.src = img
        }
        ctx.addBack(img);

        ctx.addNext = function (img){
            var image = new Image()
            image.onload = function () {
                if (curr_step <= 6) {
                    var avg = getAverage(coords);
                    color_marks.push(avg);
                    coords = [];
                    instructiontxt.innerHTML = "If " + curr_step + " foot mark is visible use click to draw small horizontal line on mark, when done click next. If not visible, click next. Press clear if errors are made.";
                    // truckInfoFromVIN();
                    curr_step += 1;
                } else if (curr_step == 7) {
                    var avg = getAverage(coords);
                    color_marks.push(avg);
                    coords = [];
                    instructiontxt.innerHTML = "Draw vertical line at 0 degrees (directly in front of the driver, should be where the measuring stick was placed).";
                    curr_step += 1;
                } else if (curr_step == 8){
                    var avg = getAverage(coords);
                    zero = avg;
                    coords = [];
                    instructiontxt.innerHTML = "Draw vertical line at -90 degrees (directly to the right of the driver out of passenger window).";
                    curr_step += 1;
                } else if (curr_step == 9) {
                    var avg = getAverage(coords);
                    neg_90 = avg;
                    coords = [];
                    instructiontxt.innerHTML = "Draw line along bottom of front field of view.";
                    curr_step += 1
                } else if (curr_step == 10) {
                    bottom_view_front = coords;
                    instructiontxt.innerHTML = "Draw line along bottom of passenger side field of view.";
                    coords = [];
                    curr_step += 1;
                } else if (curr_step == 11) {
                    bottom_view_passenger = coords;
                    var item = document.getElementById('dataentry');
                    if (item) {
                      if(item.className =='hidden'){
                        item.className = 'unhidden';
                      }
                    }
                    instructiontxt.innerHTML = "Enter the driver height and distance from driver to measurement stick";
                    curr_step += 1;
                } else if (curr_step == 12) {
                    driver_height = document.getElementById('dh').value;
                    marks_dist = document.getElementById('rd').value;
                    createHeightMap();
                    calcGroundIntersection();
                    var item = document.getElementById('dataentry');
                    if (item) {
                      if(item.className =='unhidden'){
                        item.className = 'hidden';
                      }
                    }
                    var item = document.getElementById('vinentry');
                    if (item) {
                      if(item.className =='hidden'){
                        item.className = 'unhidden';
                      }
                    }
                    instructiontxt.innerHTML = "To add to the database for others to use please enter VIN number";
                    curr_step += 1;   
                } else {
                    var vin = document.getElementById('vvin').value;
                    truckInfoFromVIN(vin, perc);

                }
                ctx.drawImage(image, 0, 0, 800, 400);
            }
            image.src = img;
        }
        ctx.addNext(img);

        // bind mouse events
        canvas.node.onmousemove = function(e) {
            if (!canvas.isDrawing) {
               return;
            }
            var x = e.pageX - this.offsetLeft;
            var y = e.pageY - this.offsetTop;
            var radius = 5; // or whatever
            var fillColor = '#ff0000';
            // var coords = [];
            if (curr_step <= 7) {
                storeOneCord(y, coords);
            } else if (curr_step <= 9) {
                storeOneCord(x, coords);
            } else {
                storeCoordinate(x, y, coords);
            }
            ctx.fillCircle(x, y, radius, fillColor);
        };
        canvas.node.onmousedown = function(e) {
            canvas.isDrawing = true;
            console.log(canvas);
        };
        canvas.node.onmouseup = function(e) {
            canvas.isDrawing = false;
        };
    }

    var container = document.getElementById('canvas');
    init(container, 800, 400, '#ddd', img);
};

function previewFile() {
    // Where you will display your image
    var item = document.getElementById('steps');
    if (item) {
      if(item.className =='hidden'){
        item.className = 'unhidden';
      }
    }
    var preview = document.querySelector('img');
    // The button where the user chooses the local image to display
    var file = document.querySelector('input[type=file]').files[0];
    // FileReader instance
    var reader  = new FileReader();

    // When the image is loaded we will set it as source of
    // our img tag
    reader.onloadend = function () {
      preview.src = reader.result;
      my_image = preview.src;
    c(preview.src);
    }
    
    if (file) {
      // Load image as a base64 encoded URI
      reader.readAsDataURL(file);

    } else {
      preview.src = "";
    }
}

function createHeightMap(){
    for (var i = 0; i < color_marks.length; i++){
        if (color_marks[i] & color_marks[i+1]){
            var diff = color_marks[i] - color_marks[i+1];
            var increment = 12 / diff;
            var inches_val = i * 12;
            for (var j = color_marks[i]; j >= color_marks[i+1]; j--){
                height_map[j] = inches_val;
                inches_val += increment;
            }

        } else if (color_marks[i+1] & color_marks[i+2]){
            var diff = color_marks[i+1] - color_marks[i+2];
            var increment = 12 / diff;
            var inches_val = i * 12;
            for (var j = color_marks[i + 1] + diff; j >= color_marks[i+1]; j--){
                height_map[j] = inches_val;
                inches_val += increment;
            }
        }
    }
}

function getPhi(px_x){
    var diff = zero - neg_90;
    var degree_v = diff/180;
    var past_zero = px_x - zero;
    var deg = past_zero/degree_v;
    var radians = deg * (Math.PI / 180);
    return radians;
}

function getTanDeg(deg) {
  var rad = deg * Math.PI/180;
  return Math.tan(rad);
}

function getATanDeg(deg) {
  return Math.atan(deg) * (180/Math.PI);
} 

function calcGroundIntersection(){
    var ground_intersections_front = [];
    var ground_intersections_passenger = [];
    var phis_front = [];
    var phis_passenger = [];
    // Array.prototype.push.apply(bottom_view,bottom_view_driver, bottom_view_front, bottom_view_passenger);

    for (var i = 0; i < bottom_view_front.length; i++){
        var bottom_view_inches = height_map[Math.round(bottom_view_front[i].y)];
        var opposite_side = driver_height - bottom_view_inches;
        var fov_angle = getATanDeg(opposite_side/marks_dist);
        var ground_intersection = driver_height * getTanDeg(90-fov_angle);

        ground_intersections_front.push(ground_intersection, 1); 

        var phi = getPhi(bottom_view_front[i].x);
        phis_front.push(phi);

    }
    for (var i = 0; i < bottom_view_passenger.length; i++){
        var bottom_view_inches = height_map[Math.round(bottom_view_passenger[i].y)];
        var opposite_side = driver_height - bottom_view_inches;
        var fov_angle = getATanDeg(opposite_side/marks_dist);
        var ground_intersection = driver_height * getTanDeg(90-fov_angle);
        ground_intersections_passenger.push(ground_intersection); 

        var phi = getPhi(bottom_view_passenger[i].x);
        phis_passenger.push(phi);

    }
    // console.log("gf", ground_intersections_front);
    // console.log("gp", ground_intersections_passenger);
    // console.log("pf", phis_front);
    // console.log("pp", phis_passenger);

    var phis = phis_front.concat(phis_passenger);

    var ground_intersections = ground_intersections_front.concat(ground_intersections_passenger);
    calcBlindVolume(ground_intersections, phis);
    // calcTotalVolume(phis);
}

function calcBlindVolume(ground_intersections, phis){
    let request = new XMLHttpRequest();
    let url = "/api/v1/getblindarea/";
    request.responseType = "json";
    var headers = {'content-type': 'application/json'};
    request.onload = function() {
        let response = this.response;
        console.log(response);
        blind_volume = response['data'];
        calcTotalVolume(phis);
    }

    request.open("POST", url);
    request.send(body=JSON.stringify({'NVPs': ground_intersections, 'phis' : phis, 'DH' : driver_height, 'c' : 1, 'd': 1}));

}

function calcTotalVolume(phis){
    let request = new XMLHttpRequest();
    //50 are a test for now
    let url = "/api/v1/getinterestarea/";
    request.responseType = "json";
    var headers = {'content-type': 'application/json'};
    request.onload = function() {
        let response = this.response;
        console.log(response);
        total_volume = response['data'];
        postRatio();
    }

    request.open("POST", url);
    //50 are a test for now
    request.send(body=JSON.stringify({'phis': phis, 'c': 1, 'd': 1}), headers=headers);

}

function postRatio(){
    console.log(total_volume);
    console.log(blind_volume);
    var ratio = (total_volume - blind_volume)/total_volume;
    var perc = ratio * 100;
    var rounded_perc = Math.round(perc, 0);
    percentage.innerHTML = "Percent of area visible: " + rounded_perc + "%";
    console.log(ratio);
    perc = rounded_perc;
}

function truckInfoFromVIN(vin, perc){
    // var vin = "5PVNC6JK562S10283"; // example
    let request = new XMLHttpRequest();
    let url = "https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValues/" + vin + "?format=json";

    request.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        let response = JSON.parse(this.responseText);
        getElements(response);
      }
    }

    request.open("GET", url, true);
    request.send();
    
    getElements = function(response){
        console.log(response);
        var vmake = response["Results"]["0"]["Make"];
        var vmodel = response["Results"]["0"]["Model"];
        var vgvwr = response["Results"]["0"]["GVWR"];
        var partialvin = vin.substring(0,10);
        var vwc = vgvwr.substring(0,7);
        console.log(vmake, "*", vmodel, "*", vwc);
        let requestpost = new XMLHttpRequest();
        let urlpost = "/api/v1/" + vin + "/" + partialvin + "/" + vmake + "/" + vmodel + "/" + vwc + "/" + perc + "/";
        requestpost.open("POST", urlpost);
        requestpost.send();
    }  
}

</script>

{% endblock %}
