[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.8"
gunicorn = "*"
django-heroku = "*"
requests = "*"
plotly = "*"
cloudinary = "*"
Pillow = "*"
sympy = "*" 
kaleido = "*"
pandas = "*"

[requires]
python_version = "3.9"
