{% extends "base.html" %}
{% load static %}

{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blindspotapp/home.css' %}">
{% endblock %}
<html>

{% include 'header.html' %}

<div class="container">
	<h2 style="font-famiy: Roboto, sans-serif; color:#2B2D42;">Frequently Asked Questions</h2>
	<h3 style="font-famiy: Roboto, sans-serif; color:#2B2D42;"> Direct Vision and Blindzones</h3>
	<div class="accordion accordion-flush" id="accordionExample">

		<div class="accordion-item">
			<h2 class="accordion-header" id="heading1" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#info1" aria-expanded="false" aria-controls="info1" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				What is direct vision?
				</button>
			</h2>
			<div id="info1" class="accordion-collapse collapse" aria-labelledby="heading1" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<div class="accordion-body">
				Direct vision is anything that can be seen by a driver directly - without the help of any device such as a mirror or a camera.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headinginfo2" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#info2" aria-expanded="false" aria-controls="info2" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				Why is direct vision important?
				</button>
			</h2>
			<div id="info2" class="accordion-collapse collapse" aria-labelledby="heading2" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<div class="accordion-body">
				According to <a href="http://content.tfl.gov.uk/road-safety-benefits-of-direct-vs-indirect-vision-in-hgv-cabs-summary.pdf"> a study done by the University of Leeds,</a> drivers react up to 50% faster to hazards in their direct vision compared to indirect vision.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headinginfo3" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#info3" aria-expanded="false" aria-controls="info3" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				What is a blind zone?
				</button>
			</h2>
			<div id="info3" class="accordion-collapse collapse" aria-labelledby="heading3" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<div class="accordion-body">
				A vehicle’s blind zone is the area around the vehicle that cannot be seen directly by the current driver. A blind zone can hold many vulnerable road users, increasing the crash risk. Larger and heavier vehicles like trucks tend to have larger blind zones than smaller vehicles, like passenger cars.
				</div>
			</div>
		</div>
	</div>
	<h3 style = "font-family: Roboto, sans-serif; color: #2B2D42;">This Website</h3>
	<div class="accordion accordion-flush" id="accordionExample">

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingwebsite4" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#website4" aria-expanded="false" aria-controls="website4" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				What is the VIEW app?
				</button>
			</h2>
			<div id="website4" class="accordion-collapse collapse" aria-labelledby="heading" style="font-famiy: Roboto, sans-serif; color:#2B2D42;" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				<div class="accordion-body">
				The VIEW (Visibility in Elevated Wide Vehicles) application is a website which aims to create a crowd-sourced database that documents the blind zones of different cars and trucks.
				Our goal is to raise awareness about blindzones among consumers, from individuals buying a passenger car for themselves to fleet managers looking to buy safer trucks for a whole city.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingwebsite5" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#website5" aria-expanded="false" aria-controls="website5" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				Who can use this website?
				</button>
			</h2>
			<div id="website5" class="accordion-collapse collapse" aria-labelledby="heading" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<div class="accordion-body">
				Anyone who has access to a vehicle is free to add it to our database, and anyone who is looking into acquiring a vehicle or is interested in our results can browse the “Visualize” tab.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingwebsite6" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#website6" aria-expanded="false" aria-controls="website6" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				Is this a final version of the website?
				</button>
			</h2>
			<div id="website6" class="accordion-collapse collapse" aria-labelledby="heading" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<div class="accordion-body">
				This site is an active Volpe project and is therefore constantly being upgraded on. However, VIEW contains baseline features and functionality, including calculations of percent visibility from the driver’s seat in the front and side directions.
				More recently, we have added data visualizations and blind zone visuals. They are visible on the “Visualize” tab and after adding a vehicle, respectively.
				We always welcome feedback about this version and look forward to the opportunity to grow and expand this site.
				</div>
			</div>
		</div>
	</div>

	<h3 style="font-famiy: Roboto, sans-serif; color:#2B2D42;">Measurements</h3>
	<div class="accordion accordion-flush" id="accordionExample">

		{% include 'faq_measurements.html' %}
	</div>

	<h3 style="font-famiy: Roboto, sans-serif; color:#2B2D42;">Specific Pages</h3>
	<div class="accordion accordion-flush" id="accordionExample">

		<div class="accordion-item">
			<h2 class="accordion-header" id="heading7" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question7" aria-expanded="false" aria-controls="question7" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
				How do I add my vehicle to the database?
				</button>
			</h2>
			<div id="question7" class="accordion-collapse collapse" aria-labelledby="heading" style="font-famiy: Roboto, sans-serif; color:#2B2D42;">
				<div class="accordion-body">
				To add your vehicle, all you need is a phone, a tape measure, a 5-foot tall pole, and 20 minutes of your time. The “Add Vehicle” page of our website contains text instructions and a video to help you input your vehicle.
				</div>
			</div>
		</div>
		{% include 'faq_visualize.html' %}

	</div>
	<h3 style="font-famiy: Roboto, sans-serif; color:#2B2D42; text-align: center;">Please contact blindzoneapp@dot.gov if you have any other questions or concerns, or if your organization is interested in working with us.</h3>
</div>

<!--
<div class="accordion-item">
	<h2 class="accordion-header" id="headingOne">
	  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		question
	  </button>
	</h2>
	<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		answer
	  </div>
	</div>
</div>
	  -->
<br>


<div class="container">

	<br>
</div>
{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
