<div class="accordion-item">
	<h2 class="accordion-header" id="headingvisualize1" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualize1" aria-expanded="false" aria-controls="visualize1" id = "button_text" style = "font-family: Roboto, sans-serif;  color:#2B2D42;">
		What does the table on the "Visualize" page show?
		</button>
	</h2>
	<div id="visualize1" class="accordion-collapse collapse" aria-labelledby="heading" style = "font-family: Roboto, sans-serif;  color:#2B2D42;">
		<div class="accordion-body">
		Each table row has an individual data points for vehicles entered into our database. Body class and weight class are convenient ways to separate vehicles by purpose - body class categories include passenger vehicles, SUVs, minivans, vans, pickup trucks, commercial trucks, and buses. Both of these can be manually entered, but are generally pulled using VINs from entries.
		</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header" id="headingvisualize2" style = "font-family: Roboto, sans-serif;  color:#2B2D42;">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualize2" aria-expanded="false" aria-controls="visualize2" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
		Why are there multiple entries for some vehicles?
		</button>
	</h2>
	<div id="visualize2" class="accordion-collapse collapse" aria-labelledby="heading" style = "font-family: Roboto, sans-serif;  color:#2B2D42;">
		<div class="accordion-body">
		The VIEW app is a crowdsourced database where multiple different users can add data and can add multiple entries to further increase confidence in the results. Although most drivers will adjust their seats to end up at the same rough eye point location, all VIEW app outputs will be specific to drivers doing the input process. Therefore, some partners will want to enter vehicles multiple times to gain multiple perspectives on the blind zones. 
		</div>
	</div>
</div>



<!--
<div class="accordion-item">
	<h2 class="accordion-header" id="visualizequestion>
	  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#visualize" aria-expanded="true" aria-controls="visualize">
		question
	  </button>
	</h2>
	<div id="visualize" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		answer
	  </div>
	</div>
</div>
	  -->
