<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure2">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure2" aria-expanded="false" aria-controls="measure2" id = "button_text">
		How are the visibility scores calculated?
	  </button>
	</h2>
	<div id="measure2" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		The visibility scores are the percent of the volume of interest that is visible to the driver. Below is an image of a slice of volume of interest in the front.
		<img src = "static/faq_measure.png"></img>
	  </div>
	</div>
</div>

<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure3">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure3" aria-expanded="false" aria-controls="measure3" id = "button_text">
		What is the volume of interest?
	  </button>
	</h2>
	<div id="measure3" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		The volume of interest is the volume around the vehicle extending 15 feet forward from the front of the hood, 15 feet from the side from the vehicle's passenger side, and 74 inches high.
		The volume extending from the driver side is not measured. Outside of the A-pillar blind zones, crash data has shown that crashes in the driver-side blind zone are less common than crashes in the
		front and passenger-side blind zones.

		<p><p>The distance from the front and passenger sides are taken from TfL's research. The height limit of 74 inches, or 6 feet and 2 inches, corresponds to the 95th percentile height of men in the US,
		thereby ensuring our volume of interest captures as many types of VRUs as possible.
	  </div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure1">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure1" aria-expanded="false" aria-controls="measure1" id = "button_text">
		How accurate is the VIEW app, and how has it been validated?
		</button>
	</h2>
	<div id="measure1" class="accordion-collapse collapse" aria-labelledby="heading">
		<div class="accordion-body">
		The app's blind area projection (nearest visible points on the ground) has been validated on a test vehicle to be within X percent of real-world physical measurements. Further validation is planned, and we welcome anyone interested in partnering with us to do so with additional vehicles.
		</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure4">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure4" aria-expanded="false" aria-controls="measure4" id = "button_text">
		Why are there three visibility scores?
		</button>
	</h2>
	<div id="measure4" class="accordion-collapse collapse" aria-labelledby="heading">
		<div class="accordion-body">
		The front and passenger side blindzones have different crash risks. In order to account for this, the front visibility and side visibility scores have been added to the overall visibility score.
		</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure5">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure5" aria-expanded="false" aria-controls="measure5" id = "button_text">
		How is the number of vulnerable road users calculated?
	  </button>
	</h2>
	<div id="measure5" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		A vulnerable road user is considered invisible if a driver cannot see their head and shoulders.
		The shoulder heights of 5th percentile United States female vulnerable road users are used in this calculation.
	  </div>
	</div>
</div>
<!--
<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure" aria-expanded="false" aria-controls="measure" id = "button_text">
		question
	  </button>
	</h2>
	<div id="measure" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		answer
	  </div>
	</div>
</div>
	  -->
