<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure5" style = "font-family: Roboto, sans-serif;  color: #2B2D42; font-weight: 500;">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure5" aria-expanded="false" aria-controls="measure5" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42;">
		How is the number of vulnerable road users calculated?
	  </button>
	</h2>
	<div id="measure5" class="accordion-collapse collapse" aria-labelledby="headingOne" style = "font-family: Roboto, sans-serif;  color: #2B2D42; font-weight: 500;">
	  <div class="accordion-body">
		<p><b>A vulnerable road user</b> is considered invisible if a driver cannot see their head and shoulders.
		The shoulder heights of 5th percentile United States female vulnerable road users are used in this calculation.</p>
		<p></p>
		<p><b>By type of VRU currently assessed in the VIEW app, the height measurements to the shoulder are: </b></p>
		<ul></ul>
			<li> preschool child – 28 inches </li>
			<li> elementary school child on bicycle – 35 inches </li>
			<li> elementary school child – 37 inches </li>
			<li> wheelchair user – 39 inches </li>
			<li> adult – 49 inches.  </li>
	  </div>
	</div>
</div>
<!--
<div class="accordion-item">
	<h2 class="accordion-header" id="headingmeasure">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#measure" aria-expanded="false" aria-controls="measure" id = "button_text">
		question
	  </button>
	</h2>
	<div id="measure" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		answer
	  </div>
	</div>
</div>
	  -->
