<div class="accordion-item">
	<h2 class="accordion-header" id="headingvisualize1" style ="font-family: Roboto, sans-serif;  color:#2B2D42; font-weight: 500;">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualize1" aria-expanded="false" aria-controls="visualize1" id = "button_text" style = "font-family: Roboto, sans-serif;  color:#2B2D42; font-weight: 500;">
		What does the table on the "Visualize" page show?
		</button>
	</h2>
	<div id="visualize1" class="accordion-collapse collapse" aria-labelledby="heading" style = "font-family: Roboto, sans-serif;  color:#2B2D42; font-weight: 500;">
		<div class="accordion-body">
			Each table row has data points for an individual vehicle entered into our database. Body class and weight class are convenient ways to separate vehicles by purpose - body class categories include passenger vehicles, SUVs, minivans, vans, pickup trucks, commercial trucks, and buses. Both data elements are usually populated by vehicle ID number (VIN) lookup when the vehicle is added to the database. 
		</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header" id="headingvisualize2" style = "font-family: Roboto, sans-serif;  color:#2B2D42; font-weight: 500;">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualize2" aria-expanded="false" aria-controls="visualize2" id = "button_text" style ="font-family: Roboto, sans-serif;  color:#2B2D42; font-weight: 500;">
		Why are there multiple entries for some vehicles?
		</button>
	</h2>
	<div id="visualize2" class="accordion-collapse collapse" aria-labelledby="heading" style = "font-family: Roboto, sans-serif;  color:#2B2D42; font-weight: 500;">
		<div class="accordion-body">
		The VIEW app is a crowdsourced database to which multiple different users can add data and can add multiple entries for the same make and model, tailored to their unique driving position and eyepoint in the vehicle. Multiple measurements can provide a distribution of blind zone size for unique vehicles and contribute to confidence in the results. Although most drivers will adjust their seats to a comfortable location that places their eyepoint in a similar location (as described by the SAE J941 eyellipse), VIEW app outputs are generally specific to the drivers performing the input process. For standardized measurements representative of the vehicle blind zone for a standardized driver size and seat position, a standardized camera rig may be used (see FAQ above).  
		</div>
	</div>
</div>



<!--
<div class="accordion-item">
	<h2 class="accordion-header" id="visualizequestion>
	  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#visualize" aria-expanded="true" aria-controls="visualize">
		question
	  </button>
	</h2>
	<div id="visualize" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		answer
	  </div>
	</div>
</div>
	  -->
