

<div class="accordion-item">
	<h2 class="accordion-header" id="headingvisualize1">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualize1" aria-expanded="false" aria-controls="visualize1" id = "button_text">
		What does the graph on the "Visualize" page show?
		</button>
	</h2>
	<div id="visualize1" class="accordion-collapse collapse" aria-labelledby="heading">
		<div class="accordion-body">
		The individual data points on the left show specific vehicles entered into the database. The gray curves to the right show density curves for each weight class. Density curves show what percentage of data points (in this case, visibility scores) fall in any range of values. Weight class is a convenient way to separate vehicles by purpose - class 1 vehicles are most likely to be passenger cars while class 8 vehicles are most likely to be trucks.
		</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header" id="headingvisualize2">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualize2" aria-expanded="false" aria-controls="visualize2" id = "button_text">
		Why is the graph on the "Visualize" page separated by weight class?
		</button>
	</h2>
	<div id="visualize2" class="accordion-collapse collapse" aria-labelledby="heading">
		<div class="accordion-body">
		Weight class is a convenient way to separate vehicles by purpose - class 1 vehicles are most likely to be passenger cars while class 8 vehicles are most likely to be trucks.
		</div>
	</div>
</div>



<!--
<div class="accordion-item">
	<h2 class="accordion-header" id="visualizequestion>
	  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#visualize" aria-expanded="true" aria-controls="visualize">
		question
	  </button>
	</h2>
	<div id="visualize" class="accordion-collapse collapse" aria-labelledby="headingOne">
	  <div class="accordion-body">
		answer
	  </div>
	</div>
</div>
	  -->
