<!--
<div class="alert alert-info alert-dismissible" role="alert" style="background-color=black">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
            aria-hidden="true">×</span></button>
    <p style="color:white">Welcome to the Beta version of the VIEW Blind Zone Calculator for Vehicles. This is not yet a fully functioning
        version of the site, however, it contains baseline features and functionality, including calculation of percent
        visibility from the driver’s seat. We look forward to receiving feedback about this version and look forward to
        the opportunity to grow and expand this site. Please contact blindzoneapp@dot.gov if your organization is
        interested in working with us.</p>
</div> -->
<div class="footer" style="margin:0px">
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" style="margin:0px; background: #8D99AE;">
        <div class="container">
            <ul class="nav navbar-nav navbar-expand-lg navbar-expand-xs navbar-expand-md  navbar-expand-xl navbar-expand-sm" style="background:#8D99AE;">
                <li class="active" style="display:inline">
                    <a href="/" style="font-family: Roboto, sans-serif; font-style: italic; background: #8D99AE; color:white">This document is funded by the Santos Family Foundation and disseminated under the
                        sponsorship of the Department of Transportation in the interest of information exchange. The United States
                        Government assumes no liability for the contents or use thereof. The United States Government does not
                        endorse products, manufacturers, or state or local policies or laws unless specifically indicated. Trade or
                        manufacturers’ names may appear herein solely because they are considered essential to the objective of this
                        document. Site contents represent the best technical judgement of U.S. DOT Volpe Center staff based on their
                        independent and objective technical analysis and expertise, and are not to be misconstrued as statements of
                        U.S. DOT policy or guidance.</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--
                </li>
            </ul>
        </div>
    </nav>
</div>
