{% extends "base.html" %}
{% load static %}

{% block content %}

<html>
<div class="alert alert-info alert-dismissible" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  <p>Welcome to the Beta version of the VIEW Blind Zone Calculator for Vehicles. This is not yet a fully functioning
    version of the site, however, it contains baseline features and functionality, including calculation of percent
    visibility from the driver’s seat. This database may contain test data and should not be interpreted as fully
    accurate. Please contact alexander.epstein@dot.gov for percent visible percentages with test data removed or to
    learn more about opportunities for improving this database.</p>
</div>
<div class="jumbotron text-center">
  <div class="container">
    <h2><a href="/" style="color:white">VIEW: Blind Zone Calculator for Vehicles</a></h2>
  </div>
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/" style="font-size:20px">Home</a>
        </li>
        <li class="active">
          <a href="/addvehicle" style="font-size:20px">Add Vehicle</a>
        </li>
        <li class="active">
          <a href="/getinfo" style="font-size:20px">Vehicle Database</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <h2>About the Visibility Score:</h2>
  <h5>The visibility score calculates the amount of space that is directly visible in the 15 feet around the front
    and front-passenger side of the vehicle, from ground level to six feet above ground. The visibility score is the percent
    of volume that is directly visible to the driver. Note that the visibility score will vary across drivers with different
    heights or drivers positioned differently in their seats.</h5>
    <br>
  <h5>Although the visibility score was originally a single number, the VIEW app team has recently divided it into front and
    passenger-side visibility scores to allow for more precision and understanding of vehicle blind zones.</h5>
  <br>
  {% if user_results %}
  <h3 id="user-message">Your vehicle has been added to the database.</h3>
  <h2 id="user-results">{{ user_results }}</h2>
  {% endif %}
  <div id="histogram" style="display:block;">
    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
  </div>
  <br />
  <h2 id="airtable-title">Database of Vehicles</h2>
  <h5>Filter, group, sort, search, or download database to compare vehicles:</h5>
  <iframe class="airtable-embed"
    src="https://airtable.com/embed/shrpAOauHRKx8WebW?backgroundColor=orange&viewControls=on" frameborder="0"
    onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  <br>
  <hr>
  <h4 style="font-style:italic;font-size:13px;">This document is funded by the Santos Family Foundation and disseminated under the
    sponsorship of the Department of Transportation in the interest of information exchange. The United States
    Government assumes no liability for the contents or use thereof. The United States Government does not
    endorse products, manufacturers, or state or local policies or laws unless specifically indicated. Trade or
    manufacturers’ names may appear herein solely because they are considered essential to the objective of this
    document. Site contents represent the best technical judgement of U.S. DOT Volpe Center staff based on their
    independent and objective technical analysis and expertise, and are not to be misconstrued as statements of
    U.S. DOT policy or guidance.
  </h4>
</div>


{% endblock %}
