<!--
<div class="alert alert-info alert-dismissible" role="alert" style="background-color=black">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span
            aria-hidden="true">×</span></button>
    <p style="color:white">Welcome to the Beta version of the VIEW Blind Zone Calculator for Vehicles. This is not yet a fully functioning
        version of the site, however, it contains baseline features and functionality, including calculation of percent
        visibility from the driver’s seat. We look forward to receiving feedback about this version and look forward to
        the opportunity to grow and expand this site. Please contact blindzoneapp@dot.gov if your organization is
        interested in working with us.</p>
</div> -->
<div class="jumbotron text-center" style="margin:0px">
    <div class="container">
        <h2><a href="/" style="color:white">VIEW: Blind Zone Calculator
                for Vehicles</a></h2>
        <h4><a href="/" style="color:white">Beta Tool</a></h4>

    </div>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" style="margin:0px; background: #8D99AE;">
        <div class="container">
            <ul class="nav navbar-nav navbar-expand-lg navbar-expand-xs navbar-expand-md  navbar-expand-xl navbar-expand-sm" style="padding:0px; background: #8D99AE;">
                <li class="active" style="display:inline">
                    <a href="/" style="font-size:20px;color:white">Home</a>
                </li>
                <li class="active" style="display:inline">
                    <a href="/addvehicle" style="font-size:20px;color:white">Add Vehicle</a>
                </li>
                <!--li class="active" style="display:inline">
                    <a href="/getinfo" style="font-size:20px;color:white">Vehicle Information</a>
                </li-->
                <li class="active" style="display:inline">
                    <a href="/visualize" style="font-size:20px;color:white">Visualize</a>
                </li>
                <li class="active" style="display:inline">
                    <a href="/FAQs" style="font-size:20px">Our Work</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
