{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blindspotapp/home.css' %}">
<html>
{% include 'header.html' %}
<div id=top_text>
    <h3 style="text-align:center;font-weight:bold;color:#2B2D42; font-family: Roboto-Regular.ttf, sans-serif; ">Direct Vision Comparison Table
    <div class="container">
        <h5>The table below displays all vehicle entries in the VIEW app. The table will update based on inputs to the search bar and the range filter.
        Click the "Details" column to find more information about that particular vehicle.
        </h5>
        <h5>Table may take a moment to load.
            </h5>
    
    </div>
</div>
<meta charset="utf-8">

<!-- Load d3.js and plugin for color scale -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- Datatables library, makes HTML table filterable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<div class="margintable">
    <!-- Create a div where the table will take place -->
    <table id="my_table" class="display" align="center"></table>
</div>

<div class="container">
    <br>
	<div class="accordion accordion-flush" id="accordionExample">
		<div class="accordion-item"  style = "border: 1px solid #dddddd;">
			<h2 class="accordion-header" id="headingvisualizefaq">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualizefaq" aria-expanded="false" aria-controls="visualizefaq" id = "button_text">
				Frequently Asked Questions
				</button>
			</h2>
			<div id="visualizefaq" class="accordion-collapse collapse" aria-labelledby="heading">
				<div class="accordion-body">
					<div class="accordion accordion-flush" id="accordionExample">
						{% include 'faq_visualize.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>

  <hr>
  <h4 style="font-style:italic;font-size:13px;color:#2B2D42; font-family: Roboto-Regular.ttf, sans-serif; ">This document is funded by the Santos Family Foundation and disseminated under the
    sponsorship of the Department of Transportation in the interest of information exchange. The United States
    Government assumes no liability for the contents or use thereof. The United States Government does not
    endorse products, manufacturers, or state or local policies or laws unless specifically indicated. Trade or
    manufacturers’ names may appear herein solely because they are considered essential to the objective of this
    document. Site contents represent the best technical judgement of U.S. DOT Volpe Center staff based on their
    independent and objective technical analysis and expertise, and are not to be misconstrued as statements of
    U.S. DOT policy or guidance.
  </h4>
</div>

</html>

<script type="text/javascript">
    // global data variable
    var data;
    // global median/grouped_data variable
    var median_data;
    // boolean that toggles each time the toggle duplicate button is pushed
    var toggle = false;

    // variable displayed on y-axis; default is "Overall Visibility"
    var variable = "Overall Visibility";

    // creates datatable, detects when search is active 
    function prepareDataTable() {
        $(document).ready(function() {
            var table = $('#my_table').DataTable( {
                "order": [0, 'desc'],
                "paging": true,
                "processing": true, 
                "searching": true
            } );

            // this is executed whenever a search/filter is active
            table.on( 'search.dt', function () {
                var table_data = table.rows( {search:'applied'} ).data();
                //console.log(table_data);
                var filtered_table_data = [];

                // gets the actual data, removes filler info
                for (i = 0; i < table_data.length; i ++) {
                    filtered_table_data.push(table_data[i])
                    console.log(filtered_table_data);
                }

                // turns each vehicle entry into dictionary
                dictionary = Object.assign({}, filtered_table_data.map((x) => ({"Overall Visibility": parseInt(x[0]), "Front Visibility": parseInt(x[1]),
                "Side Visibility": parseInt(x[2]), "Percentile": x[3], "Make": x[4], "Model": x[5], "Year": x[6], "Body Class": x[7]})));
                //console.log(typeof(dictionary))
                final_var = []

                // appends [] around all the vehicle entries to create correct format
                for (i = 0; i < filtered_table_data.length; i++) {
                    final_var.push(dictionary[i])
                }
                console.log(final_var)
                data = final_var // data variable should reflect filtered data
            });
        } );
    }

    // retrieves Airtable data from getddata method in views.py
    let request = new XMLHttpRequest();
	let url = "/api/v1/getddata/"; //this causes the POST
	request.responseType = "json";
	var headers = { 'content-type': 'application/json' };
	request.onload = function () {
		let response = this.response;

        // data is an array where each element is [percent visible, front visibility, side visibility, make, model, year, weight class]
		data = response['data'];
        tabulate(data, ["Date Added", "Make", "Model", "Year", "Body Class",
        "Weight Class", "ID"]);
        prepareDataTable();
	}
    request.open("POST", url);
	request.send(body = JSON.stringify({'weight': '0'}));

    // retrieves grouped_data and stores it in median_data, similar process as above
    let request_2 = new XMLHttpRequest();
	let url_2 = "/api/v1/getunduplicateddata/"; //this causes the POST
	request_2.responseType = "json";
	var headers = { 'content-type': 'application/json' };
	request_2.onload = function () {
		let response = this.response;
		median_data = response['grouped_data'];
	}
    request_2.open("POST", url_2);
	request_2.send(body = JSON.stringify({'weight': '0'}));



    // generates table with data
    function tabulate(data, columns) {
        //console.log(data);
        //console.log(columns);

        var table = d3.select("#my_table")
            thead = table.append("thead"),
            tbody = table.append("tbody");

        // append the header row
        thead.append("tr")
            .selectAll("th")
            .data(columns)
            .enter()
            .append("th")
                .text(function(column) { return column; });

        // create a row for each object in the data
        var rows = tbody.selectAll("tr")
            .data(data)
            .enter()
            .append("tr");

        // create a cell in each row for each column
        var cells = rows.selectAll("td")
            .data(function(row) {
                return columns.map(function(column) {
                    return {column: column, value: row[column]};
                });
            })
            .enter()
            .append("td")
            .html(function(d) {
                // if the cell is an image and the value is a nonempty string with "cloudinary" in it, add embedded URL link
                if (d.value != "" && (d.column == "Image" || d.column == "Front" || d.column == "Side" || d.column == "Overhead")) {
                    var url = d.value;
                    if (url == null) {
                        return
                    }
                    else if (url.includes("cloudinary")) {
                        return "<a href="+ d.value + " target=_blank" + ">" + "<img src=" + d.value + ">" + "</a>"
                    }
                }
                // if it's an ID/Info cell, add an embedded URL link
                else if (d.column == "ID") {
                    var url = "getinfo/" + d.value
                    return "<a href="+ url + " target=_blank" + ">" + "Details" + "</a>"
                }

                // if the cell's value is a number, make it a percentage
                else if (typeof(d.value) == "number" && d.column != "Percentile") {
                    return d.value + "%"
                }
                // if the cell is neither of the above, just add the value
                else {
                    return d.value
                }
            });
    }


    function reset_table() {
        $("#my_table").empty();
    }


</script>
{% endblock %}