{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blindspotapp/home.css' %}">
<html>
    <style>
		body{
			font-family: Roboto, sans-serif;
		}
	</style>
{% include 'header.html' %}
<div id=top_text>
    <h3 style="text-align:center;font-weight:bold;color:#2B2D42; font-family: Roboto-Regular.ttf, sans-serif; ">Under Construction!
    <div class="container">
		<h5>We've moved! The team has upgraded the VIEW website: Our new website is available at  <a href = "https://view2.blindzonesafety.org/" > https://view2.blindzonesafety.org/. </a> 
		</h5>
            <img src="static/under_construction.jpg " style="width:100%; height: 100%; border: #2B2D42; border-color: #2B2D42;" alt="Italian Trulli">
        </div>
</div>
<meta charset="utf-8">

<!-- Load d3.js and plugin for color scale -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- Datatables library, makes HTML table filterable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<div class="margintable">
    <!-- Create a div where the table will take place -->
    <table id="my_table" class="display" align="center"></table>
</div>

<div class="container">
    <br>
	<div class="accordion accordion-flush" id="accordionExample">
		<div class="accordion-item"  style = "border: 1px solid #dddddd;">
			<h2 class="accordion-header" id="headingvisualizefaq">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visualizefaq" aria-expanded="false" aria-controls="visualizefaq" id = "button_text" style ="font-family: Roboto, sans-serif; color: #2B2D42;">
				Frequently Asked Questions
				</button>
			</h2>
			<div id="visualizefaq" class="accordion-collapse collapse" aria-labelledby="heading">
				<div class="accordion-body">
					<div class="accordion accordion-flush" id="accordionExample">
						{% include 'faq_visualize.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
  <hr>
  

</div>

</html>

{% include 'footer.html' %}
{% endblock %}